@import url(https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,regular,500,600,700,800);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@media screen and (min-width: 768px) {
  .search-bar {
    display: block;
  }
}

/* Small screens */
@media screen and (max-width: 767px) {
  .search-bar {
    display: none;
  }
}

/* Range Slider*/
input[type=range]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-appearance:none;
  @apply bg-black
}